@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
}

html {
  height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}
